{% extends "blog/base.html" %}

{% block content %}
    
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
        <div class="media-body">
            <div class="article-metadata">
                <a class="me-2" href="{% url 'user-posts' post.author.username %}">{{ object.author }}</a>
                <small class="text-muted">{{ object.date_posted }}</small>  <!-- |date:"F d, Y" -->

                {% if object.author ==  user %}
                    <div>
                        <a href="{% url 'post-update' post.id %}" class="btn btn-secondary btn-sm mt-1 mb-1">Update</a>

                        <a href="{% url 'post-delete' post.id %}" class="btn btn-danger btn-sm mt-1 mb-1">Delete</a>
                    </div>
                {% endif %}

            </div>

            <h2 class="article-title">{{ object.title }}</h2>
            <p class="article-content">{{ object.content }}</p>
        </div>
    </article>
    

{% endblock content %}